@charset "utf-8";

/*========= index.html 背景動画設定のCSS ===============*/

/*header設定*/
#header_video {
    position: relative;
    /*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;
    /*高さを全画面にあわせる*/
}

#video-area {
    position: fixed;
    z-index: -1;
    /*最背面に設定*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#videos {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh;
    /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw;
    /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
.title {
    /*要素の配置*/
    position: absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color: #fff;
    text-shadow: 0 0 15px #666;
}

/*========= category_list.html 背景image設定のCSS ===============*/

/* Category image設定 */
#header_image {
    position: relative;
    /*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;
    /*高さを全画面にあわせる*/
}

#image_area {
    position: fixed;
    z-index: -1;
    /*最背面に設定*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#images {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh;
    /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw;
    /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
.image_title {
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    text-align: center;
}

.display-4 {
    font-weight: 100 !important;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px rgb(0, 0, 0);
    transform: translate(0%, 150%);
}

/*=========  base.html CSS ===============*/
/* navbar title */
.navbar-brand {
    letter-spacing: 4px;
    font-size: 2rem;
    font-weight: 100;
}

/* navbar top display color */
#top_navbar {
    background: rgba(0, 0, 0, 0.1);
}

/* search font color */
#search_font {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
}

.search_btn {
    background: rgba(0, 0, 0, 0.3);
}

.search_btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* navbar top menu fonts color */
.nav-link {
    border-radius: 4px;
    font-weight: 100;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

/* navbar menu bropdown display color */
.dropdown-menu {
    background: rgba(0, 0, 0, 0.3);
}

/* navbar menu bropdown fonts color */
.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
}

.dropdown-item:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
}

/* MoToLaBo titel */
.display-1 {
    font-weight: 100 !important;
    letter-spacing: 10px;
    padding-left: 0px;
}

.display-2 {
    font-weight: 100 !important;
    letter-spacing: 9px;
}

.display-3 {
    font-weight: 100 !important;
    letter-spacing: 10px;
}


/* footer */
.sns_link {
    text-decoration: none;
    margin: 10px 25px 5px 25px;
}

.sns_link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

.icon {
    color: rgba(255, 255, 255, 0.8);
}

.icon:hover {
    color: rgba(255, 255, 255);
}

.copyright {
    color: rgba(255, 255, 255, 0.8);
}

.copyright:hover {
    color: rgba(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 3px;
}

/*========= index.html css ===============*/
/* 記事一覧 background color */
.container {
    background: rgba(255, 255, 255, 0);
}

/* indexもっと読む…　全て見る button */
#more_btn {
    color: rgba(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

#more_btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#post_list-btn {
    color: rgba(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
}

#post_list-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


/*========= category_list.html ===============*/
/* 記事一覧 background color */
.body_color {
    background: rgba(255, 255, 255, 0.15);
}

.cat_list {
    color: rgba(255, 255, 255, 0.8);
}

.cat_num {
    color: rgb(255, 255, 255);
}

.cat_list:hover {
    color: rgb(255, 255, 255);
}

.cat_btn {
    background: rgba(255, 255, 255, 0.3);
}

.cat_btn:hover {
    background: rgba(0, 0, 0, 0.4);
}

.cat_list-title {
    color: rgb(255, 255, 255);
}

.cat_list-title:hover {
    color: rgb(255, 255, 255);
}

.more_look {
    background: rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
}

.more_look:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}

/*========= login.html ===============*/
.login_height {
    height: 87vh;
}

.login_box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_form {
    color: rgb(255, 255, 255);
    font-weight: 100 !important;
    text-align: center;
}

/* login box 装飾 */
.form-control {
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
    outline: 0;
    font-weight: 300 !important;
    border-color: rgba(0, 0, 0, 0.20);
    box-shadow: inset 0 0 0 1px #ffffff62;
}

.form-outline {
    color: rgba(255, 255, 255, 0.2);
}

/* sinup titel */
.display-5 {
    font-weight: 100 !important;
    letter-spacing: 7px;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-shadow: 0 0 40px rgb(0, 0, 0);
}

/*========= post_form.html ===============*/

/* post_form.html 保存 btn */
#save_btn {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
}

#save_btn:hover {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.3);
}


/*========= responsive @media ===============*/
@media (min-width: 1550px) {
    .display-1 {
        font-size: 5rem;
    }

    .display-2 {
        font-size: 2rem;
    }

    .display-3 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1210px) and (max-width: 1549px) {
    .display-1 {
        font-size: 4.5rem;
    }

    .display-2 {
        font-size: 1.7rem;
        letter-spacing: 6px;
    }

    .display-3 {
        font-size: 1.3rem;
        letter-spacing: 5px;
    }
}

@media (min-width: 750px) and (max-width: 1209px) {
    .display-1 {
        font-size: 2.5rem;
        letter-spacing: 7px;
    }

    .display-2 {
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

    .display-3 {
        font-size: 1rem;
        letter-spacing: 0px;
    }

    .display-4 {
        transform: translate(0%, 110%);
    }

    .navbar-brand {
        letter-spacing: 3px;
    }

    .navbar {
        padding: 3px 0px;
    }
}

/* タブレット, スマホ用 font, btn, color */
@media (max-width: 1024px) {
    .display-4 {
        letter-spacing: 7px;
    }

    /* navbar menu bropdown display color */
    .dropdown-menu {
        background: rgba(0, 0, 0, 0.4);
    }

    .dropdown-item {
        color: rgba(255, 255, 255);
    }

    .cat_list {
        color: rgba(255, 255, 255);
    }

    .icon {
        color: rgba(255, 255, 255);
    }

    .copyright {
        color: rgba(255, 255, 255);
    }

    /* login.html height */
    .login_height {
        height: 85vh;
    }
}

@media (max-width: 749px) {
    .display-1 {
        font-size: 2rem;
        letter-spacing: 2px;
        padding-left: 0px;
    }

    .display-2 {
        letter-spacing: 1px;
        font-size: 1.2rem;
    }

    .display-3 {
        letter-spacing: 4px;
        font-size: 0.8rem;
    }

    .display-4 {
        letter-spacing: 5px;
        transform: translate(0%, 0%);
    }

    .title {
        top: 40%;
    }

    .navbar {
        padding: 5px 0px;
    }

    .navbar-brand {
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-weight: 100;
    }

    /* login.html height */
    .login_height {
        height: 75vh;
    }
}
