@charset "utf-8";

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header_video {
    position: relative;
    /*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;
    /*高さを全画面にあわせる*/
}

#video-area {
    position: fixed;
    z-index: -1;
    /*最背面に設定*/
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#videos {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh;
    /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw;
    /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}

/*見出し設定*/
.title {
    /*要素の配置*/
    position: absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    color: #fff;
    text-shadow: 0 0 15px #666;
}

/*========= レイアウトのためのCSS ===============*/
.container {
    background: rgba(255, 255, 255, 0);
}

/*========= レスポンシブのためCSS ===============*/
.navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 100;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #00000080;
}

/* menu bropdown display color */
.dropdown-menu {
    background: rgba(0, 0, 0, 0.25);
}

/* menu bropdown fonts color */
.dropdown-item {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.display-1 {
    font-weight: 100 !important;
    letter-spacing: 40px;
}

@media (min-width: 1600px) {
    .display-1 {
        font-size: 5rem;
    }
}

@media (max-width: 450px) {
    .display-1 {
        padding-left: 15px;
    }
}
