<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width = device-width, initial-scale=1, user-scalable=yes" />
    <meta name="description" content="MoTo LaBo 「基 実験室・研究室 」 「 think to build , build to think 」- つくるために考え・考えるためにつくる。　 プロトタイピングを大切に。頭だけではなく、まずカタチに落とし込んでみる。 体験・体感・違和感を大切に。" />
    <meta property="og:url" content="http://www.mySite.com/" />
    <!-- 自分自身のHPのURL. -->
    <meta property="og:title" content="MOTOYA ITO DESGIN" />
    <meta property="og:site_name" content="website" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ja-JP" />
    <meta property="og:image" content="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/seo_ogp/seo.png" />
    <!-- 1200px*630以上 -->
    <meta property="og:description" content="MoTo LaBo 「基 実験室・研究室 」 「 think to build , build to think 」- つくるために考え・考えるためにつくる。　 プロトタイピングを大切に。頭だけではなく、まずカタチに落とし込んでみる。 体験・体感・違和感を大切に。" />
    <meta name="twitter:card" content="summary" />
    <!-- favicon_image_icon -->
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- favicon_image_icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- title -->
    <title>{{ request.site.siteconfig.meta_title }}</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <!--==============video レイアウトを制御する独自のCSSを読み込み===============-->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/base.css' %}">
    <!-- web_font_↓ -->
    <script>
        (function (d) {
            var config = {
                    kitId: 'dhe5bhx',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function () {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function () {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
</head>

<body>
    <!-- Start your project here-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark mask-custom shadow-0" id="top_navbar">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: #ffffff;" href="/">MoTo LaBo</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg" style="color: #ffffff;"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin" target="_blank">管理画面へ</a>
                        </li>
                        <!-- Navbar dropdown Account -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="account" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Account</a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="account">
                                {% if request.user.is_authenticated %}
                                <li><a class="dropdown-item" href="">{{ request.user }}</a></li>
                                <li><a class="dropdown-item" href="{% url 'myapp:logout' %}">ログアウト</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'myapp:login' %}">ログイン</a></li>
                                <li><a class="dropdown-item" href="{% url 'myapp:singup' %}">ユーザー登録</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider" style="color: #ffffff;" />
                                </li>
                            </ul>
                        </li>
                        <!-- Navbar dropdown Post -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Post</a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'myapp:post_create' %}">新規投稿</a></li>
                                <li><a class="dropdown-item" href="{% url 'myapp:post_list' %}">投稿一覧</a></li>
                                <li>
                                    <hr class="dropdown-divider" style="color: #ffffff;" />
                                </li>
                            </ul>
                        </li>
                        <!-- Navbar dropdown Category List -->
                        <li class=" nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">Category</a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for item in category_list %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'myapp:category_detail' item.name_en %}">{{ item.name }}</a>
                                </li>
                                {% endfor %}
                                <li>
                                    <hr class="dropdown-divider" style="color: #ffffff;" />
                                    <a class="dropdown-item" href="{% url 'myapp:category_list' %}">カテゴリ一覧</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form action="{% url 'myapp:search' %}" class="d-flex input-group w-auto" method="POST">
                        {% csrf_token %}
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" aria-label="Search" name="freeword" />
                            <label id="search_font" class="form-label" for="form1">Search</label>
                        </div>
                        <button type="submit" class="search_btn btn btn-primary" data-mdb-ripple-color="white">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    {% block header %}
    {% endblock %}

    <main class="container">
        {% if messages %}
        {% for message in messages %}
        <!-- Note: class .show is used for demo purposes. Remove it when using it in the real project. -->
        <div class="alert alert-{{ message.tags }} alert-primary d-flex flex-row mb-1" role="alert">
            {{ message }}
            <button type="button" class="btn-close ms-2 white ms-auto" data-mdb-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </main>
    <!-- End your project here-->
    <footer class="text-center text-white" style="background: rgba(0, 0, 0, 0.1);">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Social media -->
            <section class="">
                <!-- Facebook -->
                <!-- <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a> -->
                <!-- Twitter -->
                <a class="sns_link btn btn-link btn-floating btn-lg" href="https://twitter.com/MoTo_labo" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-twitter fa-lg"></i></a>
                <!-- note -->
                <a class="sns_link btn btn-link btn-floating btn-lg" href="https://note.com/moto_labo" role="button" data-mdb-ripple-color="dark"><i class="icon far fa-sticky-note fa-lg"></i></a>
                <!-- Github -->
                <a class="sns_link btn btn-link btn-floating btn-lg" href="https://github.com/MoTo-LaBo" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-github fa-lg"></i></a>
                <!-- Instagram -->
                <a class="sns_link btn btn-link btn-floating btn-lg" href="https://www.instagram.com/moto_labo/" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-instagram fa-lg"></i></a>
                <!-- Linkedin -->
                <a class="sns_link btn btn-link btn-floating btn-lg" href="https://www.linkedin.com/in/motoy-ito-a77b11216/" role="button" data-mdb-ripple-color="dark"><i class="icon fab fa-linkedin fa-lg"></i></a>
            </section>
            <!-- Section: Social media -->
            <!-- Copyright -->
            <a class="copyright btn-link fw-light" role="button" data-mdb-ripple-color="light" href="/">© 2021 MoTo LaBo</a>
            <!-- Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
</body>

</html>
