{% extends 'myapp/base.html' %}
{% block header %}
<!-- Background video css file なしの場合 -->
<!-- <div class="text-center position-relative">
    <video preload="auto" autoplay loop webkit-playsinline playsinline muted class="video-fluid z-depth-1" width="100%" height="auto">
        <source src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/video/Beach+-+50642.mp4" type="video/mp4" />
        <source src="" type="video/ogv">
        <source src="" type="video/webm"> -->
<!--
        poster：動画ファイルが利用できない環境で代替表示される画像
        webkit-playsinline：iOS 9までのSafari用インライン再生指定
        playsinline：iOS 10以降のSafari用インライン再生指定
        muted：音声をミュートさせる
        autoplay：動画を自動再生させる
        loop：動画をループさせる
        controls：コントロールバーを表示する
        -->
<!-- <p>動画を再生できる環境ではありません。</p>
    </video>
    <div class="align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="text-white">
            <h1 class="mb-3 fw-light">{{ request.site.siteconfig.meta_title }}</h1>
            <h4 class="mb-3 fw-light">{{ request.site.siteconfig.top_title }}</h4>
            <h6 class="mb-3 fw-light">{{ request.site.siteconfig.top_subtitle }}</h6>
        </div>
    </div>
</div> -->
<div id="header_video">
    <div class="title text-white">
        <h1 class="display-1 mb-4">{{ request.site.siteconfig.meta_title }}</h1>
        <h3 class="display-2 mb-4">{{ request.site.siteconfig.top_title }}</h3>
        <h6 class="display-3 mb-4">{{ request.site.siteconfig.top_subtitle }}</h6>
    </div>
    <div id="video-area">
        <video id="videos" preload="auto" autoplay loop webkit-playsinline playsinline muted>
            <source src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/video/Beach+-+50642.mp4" type="video/mp4" />
            <!-- <source src="../../../media/video/Beach - 50642.mp4" type="video/mp4" /> -->
            <source src="" type="video/ogv">
            <source src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/video/Beach-50642.webm" type="video/webm">
            <!--
          poster：動画ファイルが利用できない環境で代替表示される画像
          webkit-playsinline：iOS 9までのSafari用インライン再生指定
          playsinline：iOS 10以降のSafari用インライン再生指定
          muted：音声をミュートさせる
          autoplay：動画を自動再生させる
          loop：動画をループさせる
          controls：コントロールバーを表示する
      -->
            <p>動画を再生できる環境ではありません。</p>
        </video>
        <!--/video-area-->
    </div>
</div>
<!--/video-area-->
{% endblock %}
{% block content %}
<main class="container p-0 mt-3 text-white">
    <!-- Background image -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in post_list %}
        <div class="col mt-5 p-3">
            <div class="card bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                {% if item.thumbnail %}
                <img src="{{ item.thumbnail.url }}" class="img-fluid" alt="{{ item.title }}" />
                {% else %}
                <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" alt="{{ item.title }}" />
                {% endif %}
                <a href="{% url 'myapp:post_detail' item.id %}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body p-0">
                <h4 class="card-title mt-3 mb-0 fw-light">{{ item.title }}</h4>
                <hr class="mt-1">
                <p class="card-text">
                    {{ item.content | safe | truncatechars_html:130 }}
                </p>
                <div class="d-flex justify-content-between">
                    <i class="far fa-thumbs-up mt-2">&nbsp;{{ item.like_count }}</i>
                    <a href="{% url 'myapp:post_detail' item.id %}" class="btn btn-black-50 hover-overlay ripple" id="more_btn">もっと読む…</a>
                </div>
                <p class="mb-0 mt-3 text-center">{{ item.category }}</p>
            </div>
            <hr class="mb-1">
            <div class="text-center">
                <small class=".text-muted ms-3 fs-6 fw-light">{{ item.author }}&nbsp;{{ item.created_at.date }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <a href="{% url 'myapp:post_list' %}" class="btn btn-black-50 mb-3 d-grid gap-1 col-4 mx-auto p-2 hover-overlay ripple" id="post_list-btn">全ての記事</a>
    <br>
</main>
{% endblock %}
