{% extends 'myapp/base.html' %}
{% block header %}
<!-- Background video -->
<!-- <div class="text-center position-relative">
    <div id="video-area">
        <video id="videos" preload="auto" autoplay loop webkit-playsinline playsinline muted>
            <source src="../../../media/video/Dictionary - 21941.mp4" type="video/mp4" />
            <source src="" type="video/ogv"> -->
<!-- <source src="" type="video/webm"> -->
<!--
          poster：動画ファイルが利用できない環境で代替表示される画像
          webkit-playsinline：iOS 9までのSafari用インライン再生指定
          playsinline：iOS 10以降のSafari用インライン再生指定
          muted：音声をミュートさせる
          autoplay：動画を自動再生させる
          loop：動画をループさせる
          controls：コントロールバーを表示する
      -->
<!-- <p>動画を再生できる環境ではありません。</p>
        </video>
    </div> -->
<!--/video-area-->
<div id="header_images">
    <div id="image_area">
        <img id="images" src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/image/door.jpg" alt="books">
        <!-- <img id="images" src="../../../media/image/door.jpg" alt="door"> -->
    </div>
    {% endblock %}
    {% block content %}
    <div class="login_height row">
        <div class="login_box col-md-3">
            <h1 class="display-5 mb-3 text-center">Singup</h1>
            <form class="login_form form-white mask-custom shadow-0" action="" method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                {{field.label }}
                {{ field }}
                {{ field.errors }}
                <br class="p-1">
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-black-50 hover-overlay ripple" id="more_btn">ログイン</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
