{% extends 'myapp/base.html' %}
{% block header %}
<!-- Background video -->
<div class="text-center position-relative">
    <video class="video-fluid z-depth-1 " playsinline autoplay loop muted width="100%" height="auto">
        <source src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/video/Wheat+-+62390.mp4" type="video/mp4" />
        <source src="" type="video/ogv">
        <source src="https://django-blog-app-moto-labo.s3.ap-northeast-3.amazonaws.com/media/video/Wheat-62390.webm" type="video/webm">
    </video>
    <div class="align-items-center position-absolute top-50 start-50 translate-middle">
        <div class="text-white">
            <h1 class="mb-1 fw-light">Logout</h1>
            <p class="fw-light">ログアウトしました</p>
        </div>
    </div>
</div>
<!--/video-area-->
{% endblock %}
